// For Rem work on all resolutions

@media only screen and (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 991px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1567px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1667px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1867px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1967px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (min-width: 2067px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (min-width: 2167px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2267px) {
  html {
    font-size: 21px;
  }
}

@media only screen and (min-width: 2467px) {
  html {
    font-size: 22px;
  }
}

@media only screen and (min-width: 2567px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 2667px) and (max-width: 2766px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 3066px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 4066px) {
  html {
    font-size: 38px;
  }
}
@media only screen and (min-width: 5066px) {
  html {
    font-size: 48px;
  }
}
@media only screen and (min-width: 6066px) {
  html {
    font-size: 62px;
  }
}
@media only screen and (min-width: 7066px) {
  html {
    font-size: 72px;
  }
}
@media only screen and (max-width: 560px) {
  html {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
